table#tabel_pengukuran th, table#tabel_pengukuran td {
    white-space: nowrap;
    text-align: center;
}

#tabel_pengukuran.table > thead > tr > th {
    padding: 8px 32px;
}

.yadcf-filter-wrapper {
    display: block;
}

.dataTables_filter {
    display: none;
}
